[submodule ".registry"]
	path = .registry
	url = https://github.com/ianjonsen/ianjonsen.r-universe.dev
	branch = HEAD
[submodule "ArgosQC"]
	path = ArgosQC
	url = https://github.com/ianjonsen/ArgosQC
[submodule "aniMotum"]
	path = aniMotum
	url = https://github.com/ianjonsen/aniMotum
[submodule "bsam"]
	path = bsam
	url = https://github.com/ianjonsen/bsam
[submodule "mpmm"]
	path = mpmm
	url = https://github.com/ianjonsen/mpmm
